/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* See everything */
    outline: 1px solid red;
}

/* Root Section */
:root {
    /* General Color Scheme */
    --color-grey: grey;
    --color-white: white;
    --color-black: black;

    /* Color Scheme */
    --color-lilla: #9792e4;
    --color-lblue: #b5ddff;
    --color-cyan-blue: #0084fd;

    /* Precise Colors */
    --free-sec-yellow: #fdc15f;
    --footer-bottom-color: #333333;


    /* Border Radius Cards */
    --card-border-rd: 1rem;
    --comments-border-rd: 2rem;

}

/* --------------- */
/* CSS Style Begin */
/* --------------- */

/* General Tags */
html {
    font-size: 16px
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}

span, li, a {
    display: block;
    text-decoration: none;
    outline: none;
    list-style: none;
}

img {
    width: 100%;
}

    /* Display Values */
    .flex {
        display: flex;
    }

    .grid {
        display: grid;
    }

    /* Rule Applied for mobile first */
    .wrapper {
        margin: 0 auto;
        max-width: 480px;
        width: 85%;
    }

/* ---- Header Content ---- */

/* Navigation Bar */
.navigation-bar {
    background-color: var(--color-cyan-blue);
}

.nav-list-container {
    display: none;
}
    /* Media Query Section */

/* Hero Section */


/* ---- Main Content ---- */

/* ---- Footer Content ---- */
