/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* See everything */
    outline: 1px solid red;
}

/* Root Section */
:root {
    /* General Color Scheme */
    --color-grey: grey;
    --color-white: white;
    --color-black: black;

    /* Color Scheme */
    --color-lilla: #9792e4;
    --color-lblue: #b5ddff;
    --color-cyan-blue: #0084fd;

    /* Precise Colors */
    --free-sec-yellow: #fdc15f;
    --footer-bottom-color: #333333;


    /* Border Radius Cards */
    --card-border-rd: 1rem;
    --comments-border-rd: 2rem;

}

/* --------------- */
/* CSS Style Begin */
/* --------------- */

/* General Tags */
html {
    font-size: 16px
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}

span, li, button, a {
    display: block;
    text-decoration: none;
    outline: none;
    list-style: none;
}

img {
    width: 100%;
}

/* Header Content */

/* Main Content */

/* Footer Section */
