/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* See everything */
    outline: 1px solid red;
}

/* Root Section */
:root {
    /* General Color Scheme */
    --color-grey: rgb(90, 88, 88);
    --color-white: white;
    --color-black: black;

    /* Color Scheme */
    --color-lilla: #9792e4;
    --color-lblue: #b5ddff;
    --color-cyan-blue: #0084fd;

    /* Precise Colors */
    --free-sec-yellow: #fdc15f;
    --footer-bottom-color: #333333;


    /* Border Radius Cards */
    --card-border-rd: 1.5rem;
    --comments-border-rd: 3.5rem;

}

/* --------------- */
/* CSS Style Begin */
/* --------------- */

/* General Tags */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.8rem;
}

span, li, a {
    display: block;
    text-decoration: none;
    outline: none;
    list-style: none;
}

img {
    width: 100%;
}

    /* Display Values */
    .flex {
        display: flex;
    }

    .grid {
        display: grid;
    }

    /* Rule Applied for mobile first */
    .wrapper {
        margin: 0 auto;
        max-width: 480px;
        width: 85%;
    }

    /* Media Query Section */
    @media screen and (min-width: 576px) {
        .wrapper {
            max-width: 100%;
            width: 90%;
        }
    }
    @media screen and (min-width: 992px) {
        .wrapper {
            max-width: 100%;
            width: 90%;
        }
    }
    @media screen and (min-width: 1200px) {
        .wrapper {
            max-width: 100%;
            width: 70%;
        }
    }
    @media screen and (min-width: 1500px) {
        .wrapper {
            max-width: 1500px;
            width: 70%;
        }
    }

/* ---- Header Content ---- */

/* Navigation Bar */
.navigation-bar {
    background-color: var(--color-cyan-blue);
}
.nav-wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav-list-container {
    display: none;
    align-items: center;
    gap: 2rem;
}
    .nav-list {
        gap: 3rem;
    }
    .nav-list > li > a {
        color: var(--color-white);
    }
    .btn-nav {
        color: var(--color-black);
        background-color: var(--color-white);
        border-radius: 1rem;
        padding: 0.5rem 1rem;
    }

.hamburger-list > i {
    color: var(--color-white);
    font-size: 32px;
    cursor: pointer;
}
    /* Media Query Section */
    @media screen and (min-width: 992px) {
        .nav-list-container {
            display: flex;
        }
        .hamburger-list {
            display: none;
        }
    }
    @media screen and (min-width: 1200px) {
        .nav-list-container {
            display: flex;
        }
        .hamburger-list {
            display: none;
        }
    }
    
/* Hero Section */
.hero {
    padding: 4rem 0 6rem;
}
.hero-card-container {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.hero-card-row {
    flex-direction: column;
    gap: 2rem;
}

.hero-card-primary {
    flex-direction: column;
    width: 100%;
    border-radius: var(--card-border-rd);
    background-color: var(--color-lblue);
}
    .card-content-wrapper {
        padding: 3rem 2rem;
    }
        .card-title-primary {
            color: var(--color-cyan-blue);
        }
        .card-title {
            color: var(--color-cyan-blue);
        }
        .card-desc-primary {
            margin-top: 2.5rem;
            color: var(--color-grey);
            font-weight: 500;
            line-height: 1.8rem;
            font-size: 20px;
        }
        .btn-card {
            margin-top: 2rem;
            background-color: var(--color-cyan-blue);
            width: 100%;
            color: var(--color-white);
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.2rem;
            text-align: center;
            border-radius: 2rem;
            padding: 1rem 0;
        }
    .hero-image-wrapper {
        width: 75%;
        margin: 0 auto;
    }

.hero-card {
    padding: 2.5rem 2rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: var(--card-border-rd);
    background-color: var(--color-lblue);
}
    .card-icon {
        color: var(--color-cyan-blue);
        font-size: 7rem;
        margin-bottom: 2rem;
    }
    .card-desc {
        text-align: center;
        margin-top: 2.5rem;
        color: var(--color-grey);
        font-weight: 500;
        line-height: 1.8rem;
        font-size: 20px;
    }
    /* Media Query Section */
    @media screen and (min-width: 676px) {
        .hero-card-container {
            gap: 1.5rem;
        }
        .hero-card-row {
            flex-direction: row;
            gap: 1.5rem;
        }
        .hero-card-primary {
            width: calc((100% / 3 * 2) + 1.5rem);
        }
        .hero-card {
            width: calc(100% / 3);
        }
        .hero-image-wrapper {
            margin: 0;
            padding-left: 2rem;
            width: 50%;
        }
        .card-title {
            font-size: 1.3rem;
        }
        .btn-card {
            width: 18rem;
        }
    }
    @media screen and (min-width: 800px) {
        .card-title {
            font-size: 1.8rem;
        }
    }
    @media screen and (min-width: 1200px) {
        .hero-card-container {
            gap: 2rem;
        }
        .hero-card-row {
            flex-direction: row;
            gap: 2rem;
        }
        .hero-card-primary {
            width: calc((100% / 3 * 2) + 2rem);
            flex-direction: row;
        }
        .card-desc-primary {
            line-height: 2.2rem;
        }
        .card-content-wrapper {
            width: 60%;
            padding: 3rem 4rem 0 2rem;
        }
        .hero-image-wrapper {
            padding: 0;
            width: 40%;
            align-items: flex-end;
        }
        .hero-image-wrapper > img {
            width: 80%;
        }
        .hero-card {
            width: calc(100% / 3);
        }
        .btn-card {
            width: 15rem;
            padding: 0.8rem 0;
        }
    }
/* ---- Main Content ---- */

/* App Development and Strategic Section */
.development-section {
    background-color: var(--color-lilla);
}

.dev-wrapper {
    flex-direction: column;
    padding: 3rem 0;
    gap: 3rem;
}

.strategic-planning {
    width: 100%;
    flex-direction: column;
}
    .stpl-content {
        color: var(--color-white);
    }
        .stpl-title {
            margin-top: 2rem;
        }
        .stpl-paragh {
            margin-top: 2rem; 
            line-height: 1.5rem;
            font-size: 1.2rem;
        }

.app-dev {
    flex-direction: column;
    width: 100%;
    border-radius: var(--comments-border-rd);
    background-color: var(--color-white);
    padding: 3rem 0;
}
    .app-dev-image-container {
        width: 80%;
        margin: 0 auto;
    }
    .app-dev-title {
        margin-top: 2rem;
    }
    .app-dev-paragh {
        margin-top: 2rem;
        line-height: 2.5rem;
        font-size: 1.5rem; 
        font-style: italic;
    }
    .app-dev-content {
        padding: 0 1.6rem;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .more-about-dev {
        background-color: var(--color-lilla);
        color: var(--color-black);
        font-size: 2rem;
        margin-top: 3rem;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
        .more-about-dev {
            justify-content: center;
            align-items: center;
        }

    /* Media Query Section */
    @media screen and (min-width: 676px) {
    }
    @media screen and (min-width: 1200px) {
        .dev-wrapper {
            align-items: flex-end;
            flex-direction: row;
            padding: 8rem 12rem 4rem;
            gap: 2rem;
        }
        .strategic-planning {
            width: 50%;
        }
        .app-dev {
            width: 50%; 
        }
    }

/* Partners Section */
.part-wrapper {
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0;
}

.partner-text {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}
    .category-indicator {
        text-transform: uppercase;
    }
    .part-category-title {
        margin-top: 2rem;
        color: var(--color-lilla);
    }
    .category-introduction {
        margin-top: 2rem;
        font-size: 1.4rem;
    }

.part-card {
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: var(--comments-border-rd);
    background-color: var(--color-lilla);
    padding: 2.5rem 1.6rem;
}
    .partner-image-profile {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
    }
        .partner-image-profile > img {
            object-fit: cover;
            height: 100%;
        }

    .part-content-container {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
        .partner-desc {
            color: var(--color-white);
            text-align: center;
            line-height: 2.5rem;
            font-size: 1.5rem;
        }
        .partner-name {
            text-transform: uppercase;
            color: var(--color-white);
            font-weight: 700;
            letter-spacing: 0.3rem;
            margin-top: 2rem;
        }
        .double-quote::before {
            content: open-quote;
            font-size: 3rem;
            vertical-align: bottom;
        }
        .double-quote::after {
            content: close-quote;
            font-size: 3rem;
            vertical-align: bottom;
        }

    /* Media query */
    @media screen and (min-width: 776px) {
        .part-card {
            flex-direction: row;
            gap: 2rem;
            align-items: center;
        }
        .part-content-container {
            align-items: flex-start;
            width: 60%;
            margin-top: 0;
        }
        .partner-desc {
            text-align: start;
            font-size: 1.2rem;
        }
        .partner-image-profile {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        .double-quote::before {
            font-size: 2.5rem;
        }
        .double-quote::after {
            font-size: 2.5rem;
        }
        .category-introduction {
            font-size: 1.2rem;
            line-height: 2.2rem;
        }
    }
    @media screen and (min-width: 1200px) {
        .part-content-container {
            width: 75%;
        }
    }

/* Benefits Cards Section */
.benefits-section {
    background-color: var(--color-lilla);
}

.benef-wrapper {
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0;
}

.benef-category-title {
    width: 100%;
    text-align: center;
    color: var(--color-white);
}
.benef-card {
    flex-direction: column;
    width: 100%;
    border-radius: var(--card-border-rd);
    background-color: var(--color-white);
    padding: 2rem;
}
    .benef-card-n {
        color: var(--color-lilla);
        font-size: 4rem;
        font-weight: 800;
    }
    .benef-card-title {
        margin-top: 2rem;
        color: var(--color-lilla);
    }
    .benef-paragh {
        margin-top: 2rem;
        color: var(--color-grey);
        font-weight: 400;
        line-height: 2rem;
        font-size: 1.2rem;
    }
    .btn-benef {
        margin-top: 2rem;
        background-color: var(--color-lilla);
        width: 50%;
        text-align: center;
        border-radius: 2rem;
        padding: 0.8rem 0;
        color: var(--color-white);
        font-weight: bold;
        letter-spacing: 0.2rem;

    }
    /* Media Query */
    @media screen and (min-width: 676px) {
        .benef-wrapper {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .benef-card {
            width: calc(100% / 2 - 1rem);
        }
    }
    @media screen and (min-width: 992px) {
        .benef-wrapper {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .benef-card {
            width: calc(100% / 2 - 1rem);
        }
    }
    @media screen and (min-width: 1200px) {
        .benef-wrapper {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .benef-card {
            width: calc((100% / 3) - 1.34rem);
        }
        .benef-card-title {
            font-size: 1.3rem;
        }
    }
    @media screen and (min-width: 1370px) {
        .benef-card-title {
            font-size: 1.8rem;
        }
    }

/* About Us Section */
.about-wrapper {
    padding: 6rem 0;
    flex-direction: column;
}

.about-text-container {
    flex-direction: column;
    gap: 5rem;
}
    .about-title {
        color: var(--color-lilla);
        width: 100%;
    }
    .about-paragraph {
        width: 100%;
        font-size: 1.4rem;
        line-height: 3rem;
        font-weight: 400;
    }


.about-referral {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}
    .referral-image-profile {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-image: url(../img/about.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }
        .quotes-dec {
            color: var(--color-lilla);
            position: absolute;
            top: 0;
            right: 0;
            font-size: 4.5rem;
        }
    .referral-title {
        color: var(--color-lilla);
        line-height: 2.5rem;
        font-size: 2.2rem;
        margin-top: 2rem;
    }
    .referral-btn {
        background-color: var(--color-lilla); 
        color: var(--color-white);
        width: 60%;
        text-align: center;
        border-radius: 2rem;
        padding: 0.5rem 0;
        font-size: 1.2rem;
        margin-top: 2rem;
    }
        .referral-btn > i {
            margin-right: 0.5rem;
        }

    /* Media Query Section */
    @media screen and (min-width: 776px) {
        .about-wrapper {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        .about-text-container {
            width: 60%;
        }
        .about-referral {
            width: 30%;
            margin: 0;
        }
        .referral-title {
            font-size: 1.8rem;
        }
        .referral-btn {
            width: 75%;
            font-size: 1rem;
        }
    }

/* Getting Started Section  */
.getting-started-section {
    background-color: var(--color-lilla);
}

.get-start-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
}

.get-start-text {
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}

.get-start-btn {
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

/* ---- Footer Content ---- */

/* Footer */
.footer {
    background-color: var(--footer-bottom-color);
    height: 200px;
    justify-content: center;
    align-items: center;
}